body {
    overflow: auto;
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

nav {
    position: fixed;
    height: 100%;
    width: 15%;
    top: 0;
    margin: 0;
    z-index: 999;
    left: 0;
}

ul {
    position: relative;
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    left: 0;
}

li{
    display: flex;
    background-color: #0000ff;
    color: #ffffff;
    height: 10%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: 3px 0 3px 0;
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    color: #deb887;
}

li:hover {
    background-color: #6495ed;
    color: #deb887;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    top: 90px;
}

.titulo {
    position: fixed;
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 998;
    background-color: #0000ff;
    top: 0;
    left: 0;
    color: #ffffff;
}

table {
    position: relative;
    width: 70%;
    text-transform: uppercase;
}

table, tr, th {
    border-collapse: collapse;
    text-align: center;
    border-bottom: solid #000000;
    margin: 0 0 20px 0;
}

th {
    padding: 10px 0 10px 0;
}

h1, h2, h3 {
    text-transform: uppercase;
    margin: 0;
}

.placar {
    width: 30px;
    border: none;
}

.x {
    border: none;
}

.vencedor {
    background-color: #4cfc4c;
    font-weight: bold;
}

.vencedor-jogo:hover {
    background-color: #f1f164;
  }

td {
    border: solid #000000;
    cursor: pointer;
    width: auto;
    height: 38px;
}

tr:hover, tr:nth-child(even):hover {
    background-color: #f05c5c;
}

tr:nth-child(even){
    background-color: rgb(92, 163, 224);
}

@media only screen and (max-width: 600px) and (min-width: 200px) {
    .titulo {
        position: fixed;
        height: 4%;
    }
    
    section {
        width: 1000px;
        top: 155px;
        left: 230px;
    }

    table {
        width: 88%;
    }

    nav {
        position: fixed;
        height: 25%;
        width: 20%;
    }

    li {
        height: 9%;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 700px) {
    .titulo {
        position: fixed;
        height: 8%;
    }
    
    section {
        width: 1000px;
        top: 110px;
        left: 230px;
    }

    table {
        width: 88%;
    }

    nav {
        position: fixed;
        height: 45%;
        width: 20%;
    }

    li {
        height: 9%;
    }
}

